:root {
    --dracula-bg: #282a36;
    --dracula-fg: #f8f8f2;
    --dracula-comment: #6272a4;
    --dracula-cyan: #8be9fd;
    --dracula-green: #50fa7b;
    --dracula-orange: #ffb86c;
    --dracula-pink: #ff79c6;
    --dracula-purple: #bd93f9;
    --dracula-red: #ff5555;
    --dracula-yellow: #f1fa8c;
}

/* Styles for the navbar */
.navbar {
    background-color: var(--dracula-bg); /* Dracula background color */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.navbar-toggler {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
}

.navbar-toggler-icon {
    width: 30px;
    height: 3px;
    background-color: var(--dracula-fg); /* Dracula foreground color */
    display: block;
    margin: 4px auto;
}

.navbar-collapse {
    display: flex;
    flex-direction: row;
}

.navbar-nav {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    flex-direction: row;
}

.nav-item {
    margin: 0 10px;
}

.nav-link {
    text-decoration: none;
    color: var(--dracula-fg); /* Dracula foreground color */
}

/* Media query for responsiveness */
@media (max-width: 768px) {
    .navbar-toggler {
        display: block;
    }

    .navbar-nav {
    }

    .nav-item {
        margin: 10px 0;
    }

    .navbar-nav.show {
        display: flex;
    }
}


/* Table Styles */
table {
  width: 100%;
  border-collapse: collapse;
  margin: 1em 0;
  font-size: 14px;
  background-color: var(--dracula-background);
  color: var(--dracula-foreground);
}

th, td {
  padding: 8px 12px;
  border: 1px solid var(--dracula-foreground);
}

th {
  background-color: var(--dracula-selection);
}

/* Alternating Row Colors (including header row) */
tr:nth-child(even) {
  background-color: var(--dracula-comment);
}

tbody tr:nth-child(odd) {
  background-color: var(--dracula-pink); /* Different Dracula color */
}

tbody tr:hover {
  background-color: var(--dracula-cyan); /* Color when hovering */
}
